/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1362px) {
    .hero_banner_image {
        width: 798px;
    }
    .owl-nav {
        display: none;
    }
}
@media (max-width: 1199px) {
    ul.submenu {
        position: inherit;
        opacity: inherit;
    }
    ul.submenu li ul.submenu {
        left: 0;
        top: 0;
        margin-left: 0;
        width: inherit;
    }
    .top_search_bar {
        padding: 20px 0;
    }
    .owl_single_items {
        width: inherit;
        margin: inherit;
    }
    /* mobile menu */
    .hc-nav-trigger {
        top: 29px;
    }
    .hc-offcanvas-nav .nav-content>.nav-close:first-child a, .hc-offcanvas-nav .nav-title+.nav-close a.has-label, .hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav .nav-back a {
        background: #164e7f;
        border-top: 1px solid #164e7f;
        border-bottom: 1px solid #164e7f;
    }
    .hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
        background: #ffffff;
    }
    ul.submenu{
        width: 100%;
        visibility: inherit;
        padding: inherit;
    }
    .fst-btn {
        margin-top: 0;
    }
    .package-table tfoot td:nth-child(n+2) {
        padding: 0 5px;
    }
}
@media (max-width: 1120px) {
    .owl-nav {
        display: none;
    }
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .hero_text h1 {
        font-size: 60px;
    }
    .hero_banner_image {
        width: 587px;
        margin-left: -120px;
    }
    .request_text h3 {
        font-size: 50px;
    }
    .course-part-title {
        width: 95%;
    }
    .border-part::after {
        right: 8px;
    }
    .tution-broker-part ul li {
        padding-left: 19px;
    }
    .tution-broker-part ul li:first-child {
        padding-left: 0px;
    }
    .prebtn h5 {
        line-height: 18px;
    }
    .broker-home-table .total-fee-hour {
        width: 75%;
    }
    .broker-home-table .pricing-table-footer .add-to-btn {
        width: 25%;
    }
    .join-form .course-redio-btn h5 {
        width: 90px;
    }
}
@media (max-width: 991px) {
    .fst-part.snd-part{
        display: inherit;
    }
    .snd-part .fst-img{
        max-width: inherit;
    }
    .course_part .fst-img{
        height: 272px;
    }
    .course_part .grid-container {
        display: flex;
        overflow-x: auto;
    }
    .feature-post {
        min-width: 300px;
    }
    .grid-container::-webkit-scrollbar{
        display: none;
    }
    .fst-text {
        display: flex;
        flex-wrap: wrap;
        height: 50%;
    }
    .snd-part .fst-text{
        padding: 16px 24px 23px 24px;
    }
    .snd-part .fst-img .cat {
        left: 0;
        right: inherit;
        border-radius: 0px 20px 20px 0px;
    }
    .rrp-overview-text {
        margin-top: 24px;
        padding-top: 16px;
        border-top: 0.5px solid #164E7F;
    }
    .course-title h2 {
        font-size: 28px;
        text-align: center;
    }
    .cancle-policy {
        text-align: center;
    }
    .full-course-details-border{
        border-bottom: none;
        padding-bottom: 0;
    }
    .full-course-details-border .course-border-none {
        border-bottom: 0.5px solid #B0B0B0;
        margin-bottom: 24px;
        padding-bottom: 24px;
    }
    .all-pricing-table {
        flex-wrap: inherit;
        overflow-x: auto;
        margin-right: -15px;
        margin-left: -15px;
    }
    .all-pricing-table::-webkit-scrollbar{
        display: none;
    }
    .pricing-part {
        min-width: 288px;
        padding-right: 8px;
        padding-left: 8px;
    }
    .pricing-part:first-child {
        padding-left: 16px;
    }
    .pricing-part:last-child {
        padding-right: 16px;
    }
    .course-title p {
        text-align: center;
    }
    .broker-home {
        margin: auto;
        margin-bottom: 24px;
    }
    .broker-home-tution {
        margin: auto;
    }
}
 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .header_badge img{
        height: inherit;
    }
    .top_contact_info ul li, .login-area ul li {
        margin-left: 5px;
    }
    .top_contact_info ul li a, .login-area ul li a {
        font-size: 12px;
    }
    .site_title a {
        line-height: 10px;
    }
    .hero_text h1 {
        font-size: 44px;
        line-height: 50px;
    }
    .hero_banner_image {
        width: 483px;
        margin-left: -124px;
    }
    .play-btn {
        padding-bottom: 68px;
    }
    .request_text h3 {
        font-size: 38px;
        line-height: 50px;
    }
    .request_contact_form .form-control {
        height: 40px;
    }
    .course-video {
        margin: auto;
    }
    .course-overview-btn {
        margin-bottom: 16px;
    }
    td.add-to-btn {
        width: 28%;
    }
    .package-title {
        padding-left: 16px;
        width: 292px;
    }
    .payment-img {
        margin-left: inherit;
    }
    .total-fee-hour {
        width: 75%;
    }
    .pricing-table-footer .add-to-btn {
        width: 25%;
    }
    .online-tution-area-broker {
        text-align: center;
        margin-top: 24px;
    }
}

 
/* Extra small Device. */
@media (max-width: 767px) {
    /* bootstrap class modifaction */
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 16px;
        padding-left: 16px;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    /* bootstrap class modifaction */

    .top_contact_info ul li, .login-area ul li {
        margin-left: 5px;
    }
    .site_title a {
        line-height: 10px;
    }
    .hero_text h1 {
        font-size: 40px;
        line-height: 45px;
        text-align: center;
    }
    .play-btn {
        margin-top: 25px;
        padding-bottom: 60px;
        text-align: center;
    }
    .play-btn a {
        padding: 12px 16px;
    }
    .content-widget {
        display: inherit !important;
        margin: 5px 0 20px;
    }
    .hero_list {
        width: inherit;
        text-align: center;
    }
    .request_text h3 {
        text-align: center;
    }
    .request_text p {
        margin: auto;
        text-align: center;
        margin-bottom: 24px;
    }
    .logo {
        width: 195px;
    }
    .hc-nav-trigger {
        top: -45px;
        right: 15px;
    }
    .hc-nav-trigger span, .hc-nav-trigger span::before, .hc-nav-trigger span::after {
        height: 2px;
        background: #ffffff;
    }
    .top_search_bar,.top_search_bar .input_part {
        width: 100%;
    }
    .header_manu,
    .other-page-header {
        height: 0;
    }
    .fst-img {
        width: 272px;
        height: 174px !important;
    }
    .feature-post.item1 {
        min-width: 272px;
    }
    .fst-text h3 a{
        font-size: 14px;
        line-height: 22px;
        display: block;
    }
    .all-course {
        flex-wrap: inherit;
        overflow-x: auto;
    }
    .all-course::-webkit-scrollbar{
        display: none;
    }
    .course-item {
        min-width: 286px;
    }
    .all-course-section .site-title {
        text-align: left !important;
    }
    .all-course-section .site-title h2::after{
        margin: inherit;
    }
    .single-course-items {
        text-align: left;
        padding: 20px;
    }
    .single-icon {
        margin: unset;
    }
    .all-course .course-item {
        padding-right: 8px;
        padding-left: 8px;
    }
    .all-course .course-item:last-child {
        padding-right: 16px;
    }
    .all-course .course-item:first-child{
        padding-left: 16px;
    }
    footer.footer_area {
        overflow: hidden;
        padding-bottom: 65px;
    }
    .search_sugg {
        height: 100vh;
        width: 101%;
        top: 100%;
        border-radius: 0;
    }
    .login-form .form-check {
        margin-bottom: 25px;
    }
    .login_popup .form-check .form-check-label {
        font-size: 12px;
    }
    .login_popup .forget_pass a {
        font-size: 12px;
        color: #227EB5;
        margin-right: -1px;
    }
    .course-play-btn {
        width: 55px;
        height: 55px;
    }
    .course-overview-btn a {
        display: block;
        margin-right: 0;
    }
    .course-part-single {
        display: block;
        text-align: center;
        padding: 24px 18px;
    }
    .course-icon {
        width: 100%;
        margin-bottom: 8px;
    }
    .course-text-part {
        display: inherit;
        width: 100%;
    }
    .course-part-title {
        width: 100%;
        display: block;
    }
    .course-part-title h3 {
        font-size: 16px;
        line-height: 24px;
    }
    .course-part-title ul li {
        list-style: none;
        margin-left: 0;
    }
    .course-redio-btn {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
    .course-overview-btn {
        padding-bottom: 16px;
    }
    .course-title h4 {
        text-align: center;
    }
    .course-title-part .course-title h2{
        text-align: left;
    }
    .education-course-single .single-icon {
        margin: auto;
    }
    .prebtn-part {
        display: flex;
        align-items: center;
    }
    .prebtn h5 {
        font-size: 28px;
        line-height: 32px;
    }
    .prebtn {
        width: 114px;
    }
    .my-font-width{
        font-weight: 500 !important;
    }
    .tution-fee {
        width: 58%;
    }
    .tution-fee p {
        width: 100%;
    }
    .border-part {
        padding-bottom: 24px;
        margin-bottom: 24px;
    }
    .border-part::after {
        width: 100%;
        height: 0.5px;
        top: inherit;
        right: 0;
        bottom: 0;
    }
    .data-table .table-data-md {
        display: inline-block;
        width: 75% !important;
        text-align: left !important;
        padding: 0 !important;
        border-left: 0 !important;
        padding-left: 16px !important;
    }
    th.th-date,
    th.th-day,
    th.th-time {
        display: none !important;
    }
    th.th-map {
        width: 30%;
    }
    th.th-reg{
        width: 20%;
    }
    .data-table table tbody td:last-child {
        width: 40%;
    }
    .data-table table tbody td p {
        font-size: 10px;
        line-height: 14px;
    }
    .data-table table tbody td {
        font-size: 10px;
        line-height: 14px;
    }
    .data-table table tbody tr {
        border-left: 0.5px solid #B0B0B0;
        border-right: 0.5px solid #B0B0B0;
    }
    .data-table table tbody td:first-child {
        padding-top: 16px !important;
        width: 100% !important;
    }
    .data-table table tbody td:nth-child(4){
        padding-bottom: 16px !important;
        margin-top: -16px
    }
    .md-data-margin {
        margin-top: -16px;
    }
    .data-table tfoot .table-data-md {
        font-size: 12px;
        line-height: 16px;
        width: 100% !important;
    }
    td.add-to-btn {
        width: 36%;
        padding: 13px 16px 13px 0 !important;
        text-align: right;
    }
    td.add-to-btn input[type="submit"] {
        font-size: 10px;
        line-height: 14px;
    }
    .data-table tfoot td:first-child {
        padding-top: 16px !important;
    }
    .data-table table tbody td.off-class:first-child{
        padding-top: 5px !important;
    }
    td.off-class {
        padding: 5px 16px !important;
    }
    .patment-method p {
        display: block;
        float: inherit;
        text-align: center;
        font-size: 10px;
        line-height: 14px;
    }
    .payment-img {
        float: inherit;
        display: block;
        text-align: center;
        width: 206px;
        margin: auto;
    }
    .payment-img span {
        display: block;
        color: #222;
        font-size: 8px;
        line-height: 12px;
        margin-top: 0;
    }
    .cancle-policy {
        text-align: center;
        margin-top: -6px;
    }
    .cancle-policy a {
        font-size: 10px;
        line-height: 14px;
    }
    .package-title {
        padding-left: 0;
    }
    .package-table table th {
        font-size: 14px;
        padding: 16px 12px;
        max-width: 88px;
    }
    .package-table table th span {
        font-size: 24px;
        line-height: 28px;
    }
    .package-details {
        padding: 16px 12px;
    }
    .package-table table th:first-child {
        width: inherit;
        min-width: 151px;
    }
    .package-title h4{
        font-size: 10px;
        line-height: 14px;
    }
    .package-icon {
        font-size: 14px;
    }
    .package-table tfoot td a.reg_btn {
        font-size: 10px;
        line-height: 14px;
        padding: 8px 16px;
    }
    .package-table tfoot td:nth-child(n+2) {
        padding: 8px 5px;
    }
    .online-md-top {
        padding-top: 32px;
    }
    .online-tution-area-broker {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;
        padding-bottom: 16px;
        border-bottom: 0.5px solid #B0B0B0;
    }
    .total-fee-hour {
        width: 60%;
        display: initial;
    }
    .pricing-table-footer .add-to-btn {
        width: 40%;
    }
    .pricing-table-footer .add-to-btn input {
        font-size: 10px;
        line-height: 14px;
        padding: 13px 21px;
    }
    .course-title-part .coures-title-center {
        width: 100%;
    }
    .course-title-part .coures-title-center h2 {
        text-align: center;
    }
    .tution-title h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .tution-title h4 {
        margin-top: 4px;
    }
    .broker-price h5 {
        font-size: 24px;
        line-height: 16px;
    }
    .broker-price {
        width: min-content;
    }
    .broker-price h5 span {
        font-size: 10px;
        line-height: 14px;
    }
    .tution-broker-part ul li:last-child {
        padding-right: 0;
    }
    .tution-broker-part ul li:last-child span {
        width: 100px;
    }
    .tution-broker-bottom-part {
        display: inherit;
    }
    .tution-add-card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 16px;
    }
    .pricing-table-footer {
        padding: 16px;
    }
    .total-hour h4, .total-price h4 {
        font-size: 12px;
        line-height: 16px;
    }
    .tuition-broker-img {
        margin-bottom: 24px;
    }
    .broker-home .prebtn.broker-price {
        width: inherit;
    }
    .broker-home .tution-broker-part ul li:last-child {
        padding-left: 19px;
    }
    .builders-payment .payment-img {
        margin: auto;
    }
    .builders-payment p {
        padding-top: 16px;
    }
    .builders-package-part .package-box {
        min-width: 77px;
        width: 77px;
        height: 77px;
    }
    .form-select-text .course-redio-btn {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .join-form .course-part-single p {
        text-align: left;
    }
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-course-items {
        width: inherit;
    }
}
/* SM Small Device :550px. */
@media (max-width: 575px) {
    .top_contact_info {
        text-align: inherit;
    }
    .logo,
    .site_title {
        text-align: center;
    }
    .site_title {
        margin-bottom: 14px;
    }
    .all_review a {
        margin-left: inherit;
        display: inline-block;
    }
    .request_text h3 {
        font-size: 42px;
        line-height: 50px;
    }
    .request_text p {
        width: inherit;
        margin-bottom: 32px;
        padding: 0 25px;
    }
    section.contact_area {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .thank-you-massage a {
        padding: 13px 50px;
    }
    

}