/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1362px) {
    .hero_banner_image {
        width: 798px;
    }
    .owl-nav {
        display: none;
    }
}
@media (max-width: 1199px) {
    ul.submenu {
        position: inherit;
        opacity: inherit;
    }
    ul.submenu li ul.submenu {
        left: 0;
        top: 0;
        margin-left: 0;
        width: inherit;
    }
    .top_search_bar {
        padding: 20px 0;
    }
    li.has_dropdown span {
        display: none;
    }
    .owl_single_items {
        width: inherit;
        margin: inherit;
    }
}
@media (max-width: 1120px) {
    .owl-nav {
        display: none;
    }
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .hero_text h1 {
        font-size: 60px;
    }
    .hero_banner_image {
        width: 587px;
        margin-left: -120px;
    }
    .request_text h3 {
        font-size: 50px;
    }
    
}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .header_badge img{
        height: inherit;
    }
    .top_contact_info ul li, .login-area ul li {
        margin-left: 5px;
    }
    .top_contact_info ul li a, .login-area ul li a {
        font-size: 12px;
    }
    .site_title a {
        line-height: 10px;
    }
    .hero_text h1 {
        font-size: 44px;
        line-height: 50px;
    }
    .hero_banner_image {
        width: 483px;
        margin-left: -124px;
    }
    .play-btn {
        padding-bottom: 68px;
    }
    .request_text h3 {
        font-size: 38px;
        line-height: 50px;
    }
    .request_contact_form .form-control {
        height: 40px;
    }
}

 
/* Extra small Device. */
@media (max-width: 767px) {
    .top_contact_info ul li, .login-area ul li {
        margin-left: 5px;
    }
    .site_title a {
        line-height: 10px;
    }
    .hero_text h1 {
        font-size: 40px;
        line-height: 45px;
        text-align: center;
    }
    .play-btn {
        margin-top: 25px;
        padding-bottom: 60px;
        text-align: center;
    }
    .play-btn a {
        padding: 12px 16px;
    }
    .content-widget {
        display: inherit !important;
        margin: 5px 0 20px;
    }
    .hero_list {
        width: inherit;
        text-align: center;
    }
    .request_text h3 {
        text-align: center;
    }
    .request_text p {
        margin: auto;
        text-align: center;
        margin-bottom: 24px;
    }
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-course-items {
        width: inherit;
    }
}
/* SM Small Device :550px. */
@media (max-width: 575px) {
    .top_contact_info {
        text-align: inherit;
    }
    .logo,
    .site_title {
        text-align: center;
    }
    .site_title {
        margin-bottom: 14px;
    }
    .top_search_bar .input_part {
        width: 175px;
    }
    
    .all_review a {
        margin-left: inherit;
        display: inline-block;
    }
    .request_text h3 {
        font-size: 42px;
        line-height: 50px;
    }
    .request_text p {
        width: inherit;
        margin-bottom: 24px;
        padding: 0 25px;
    }
    
}